{% extends "base.html" %}
{% block title %}HOME{% endblock title %}
{% block nav_home %}active{% endblock nav_home %}
{% block content %}
<style>
    img{
        height: 85vh;
    }
    .container{
        width: 70%;
        text-align: justify;
    }
    body{
        background-image: url(https://us.123rf.com/450wm/peshkov/peshkov1803/peshkov180300303/97709188-abstract-dark-background-with-spotlight-presentation-concept.jpg?ver=6);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        height: 100%;
        color: aliceblue;
        
    }
</style>
<div class="fluid-container pb-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://i.imgur.com/n4h6Jle.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.imgur.com/BqIZhuZ.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.imgur.com/zkDeMya.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://i.imgur.com/DpgeghW.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</div>

<div class="container">
<h1>What are the big five personality traits? </h1><br>
<h2>Openness</h2>
<p>Openness is a characteristic that includes imagination and insight. The world, other people and an eagerness to learn and experience new things is particularly high for this personality trait. It leads to having a broad range of interests and being more adventurous when it comes to decision making.
    <br>
    Creativity also plays a big part in the openness trait; this leads to a greater comfort zone when it comes to abstract and lateral thinking.
    <br>
    Think of that person who’s always ordering the most exotic thing on the menu, going to different places and having interests which you would never have thought of… that is someone who has a high openness trait.
    <br>
    Anyone low in this trait tends to be viewed with more traditional approaches to life and may struggle when it comes to problem solving outside their comfort zone of knowledge.
</p><br>
<h2>Conscientiousness </h2>
<p>
    Conscientiousness is a trait that includes high levels of thoughtfulness, good impulse control, and goal-directed behaviours. This organised and structured approach is often found within people who work in science and even high-retail finance where detail orientation and organisation are required as a skill set. 
<br>
A highly conscientious person will regularly plan ahead and analyse their own behaviour to see how it affects others. Project management teams and HR departments regularly have highly conscientious people working in their teams to help balance out the structural roles within the overall team development. 
<br>
A good example of a conscientious person would be someone you know who is always planning ahead for the next time you meet - and in the meantime, regularly staying in contact, checking in on your wellbeing. They like to organise around certain dates and events and are focused on you when you meet. 
<br>
People low in conscientiousness tend to dislike structure and schedules, procrastinate on important tasks and fail to complete tasks as well.
</p><br>
<h2>Extraversion</h2>
<p>
    Extraversion (sometimes referred to as Extroversion) is a trait that many will have come across in their own lives. It’s easily identifiable and widely recognisable as “someone who gets energised in the company of others.”
<br>
This, amongst other traits which include, talkativeness, assertiveness and high amounts of emotional expressiveness, have made extraverted people widely recognisable over many years of social interaction.
<br>
We all have that one friend or family member - or several - who aren’t exactly wall flowers in a social interaction. They thrive on being the centre of attention, enjoy meeting new people and somehow tend to have the biggest friends and acquaintance group you have known. 
<br>
The opposite is, of course, someone else in our lives we may know, an introvert. They prefer solitude and have less energy in social situations. Being at the centre of attention or making small talk can be quite taxing.
<br>
Extroverts tend to have very public facing roles including areas such as sales, marketing, teaching and politics. Seen as leaders, extroverted people will be more likely to lead than stand in the crowd and be seen to not be doing anything.
</p><br>
<h2>Agreeableness</h2>
<p>
    People who exhibit high agreeableness will show signs of trust, altruism, kindness, and affection. Highly agreeable people tend to have high prosocial behaviours which means that they’re more inclined to be helping other people. 
<br>
Sharing, comforting and cooperating are traits that lend themselves to highly agreeable personality types. Empathy towards others is commonly understood as another form of agreeableness even if the term doesn’t quite fit. 
<br>
The opposite to agreeableness is disagreeableness but it manifests in behaviour traits that are socially unpleasant. Manipulation and nastiness towards others, a lack of caring or sympathy, a lack of taking interest in others and their problems are all quite common. 
<br>
Agreeable people tend to find careers in areas where they can help the most. Charity workers, medicine, mental health and even those who volunteer in soup kitchens and dedicate time to the third sector (social studies) are high in the agreeableness chart.
</p><br>
<h2>Neuroticism</h2>
<p>
    Neuroticism is characterised by sadness, moodiness, and emotional instability. Often mistaken for anti-social behaviour, or worse a greater psychological issue, neuroticism is a physical and emotional response to stress and perceived threats in someone’s daily life.
<br>
Individuals who exhibit high levels of neuroticism will tend to experience mood swings, anxiety and irritability. Some individuals who experience sudden changes in character from a day-to-day perspective could be highly neurotic and respond to high stress levels in their work and personal lives. 
<br>
Anxiety, which plays a large part in the makeup of neuroticism, is about an individual's ability to cope with stress and perceived or actual risk. People who suffer with neuroticism will overthink a lot of situations and find difficulty in relaxing even in their own space.
<br>
Of course, those who rank lower on the neurotic level will exhibit a more stable and emotionally resilient attitude to stress and situations. Low neurotic sufferers also rarely feel sad or depressed, taking the time to focus on the present moment and not get involved in mental arithmetic on possible stress-inducing factors.
</p>
</div>


{% endblock content %}